---
import { PROJECTS } from "../utils/projects";
import ProjectCard from "../components/ProjectCard.astro";
---

<section>
  <div class="relative border-l border-border/20 dark:border-gray-700 space-y-12">
    {PROJECTS.map((project) => (
      <ProjectCard project={project} />
    ))}
  </div>
</section>
